<head>
  <link rel="stylesheet" href="/css/form.css">
</head>
    <div class="card mx-2" id="content">
      <div class="alert alert-success" role="alert">
          <strong>HEADS UP!</strong> This is a TESTING PHASE — Please report any difficulties or abnormals: <a href="tel:+352621232202" class="alert-link">+352 621 23 22 02</a>
      </div>
      <div class="mb-form">
        <form action="/result" method="post">
          <br>
          <div class="text-center">
            <h3>MASS AND BALANCE: {{airplanename}}<span id="test"></span></h3>
          </div>
          <hr>
          <div class="form-group">
            <label for="crew"><h6> <span class="badge badge-soft-primary">Crew</span> mass (kg): {{crew}}</h6></label>
          </div>
          <div class="form-group">
            <label for="pax"><h6> <span class="badge badge-soft-primary">Pax</span> mass (kg): {{pax}}</h6></label>
          </div>
          <div class="form-group">
            <label for="baggage"><h6> <span class="badge badge-soft-primary">Baggage</span> mass (kg): {{bag}}</h6></label>
          </div>
          <h5><span id="zfm">Zero Fuel Mass: {{zfm}} kg | {{zfmlbs}} lbs</span></h5>
          <hr>
          <div class="form-group">
            <label for="fuel"><h6> <span class="badge badge-soft-primary">Fuel</span> mass (kg): {{fuel}}</h6></label>
          </div>
          <h5><span id="ramp">Ramp Mass: {{ramp}} kg | {{ramplbs}} lbs</span></h5>
          <hr>
          <div class="form-group">
            <label for="taxi"><h6> <span class="badge badge-soft-primary">Taxi</span> mass (kg): {{taxi}}</h6></label>
          </div>
          <h5><span id="tom">Take-off Mass: {{tom}} kg | {{tomlbs}} lbs</span></h5>
          <hr>
          <div class="form-group">
            <label for="trip"><h6> <span class="badge badge-soft-primary">Trip</span> mass (kg): {{trip}}</h6></label>
          </div>
          <h5><span id="lm">Landing Mass: {{lm}} kg | {{lmlbs}} lbs</span></h5>
          <hr>
          <div class="text-center">
            <h6><span class="badge badge-success"><span id="remUsefukL">Remaining Useful Load: {{remUsefulL}} kg | {{remUsefulLlbs}} lbs</span></h6>
          </div>
          <br>
          <div class="card mx-2">
            <div class="canvas">
              <canvas id="myChart"></canvas> 
            </div>
          </div>
          <br>
          <div class="buttons">
            <div class="text-center">
                <button class="btn btn-primary" type="" id="generatePdfButton">Generate PDF</button>
              <br>
              <br>
              <div class="terms-calc">
                <p>Be aware, PILOT FLOW is not liable for any information provided! This is for entertainment purposes only! Recalculation is strongly advised! Review our: <a href="/legal">Terms and Conditions</a>!</p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var envelope = {{{envelopeJSON}}};
        var utility = {{{utilityJSON}}};
        var mb = {{{mbJSON}}};
        new Chart("myChart", {
            type: "scatter",
            data: {
                datasets: [
                    {
                        label: "{{airplanename}}",
                        pointRadius: 4,
                        pointBackgroundColor: "rgb(0, 0, 255)",
                        data: envelope,
                        showLine: true,
                        fill: true,
                        borderColor: "rgb(0, 150, 255)", 
                        backgroundColor: "rgba(0, 0, 255, 0.2)" 
                    },
                    {
                        label: "Utility",
                        pointRadius: 4,
                        pointBackgroundColor: "rgb(255, 36, 0)",
                        data: utility,
                        showLine: true,
                        fill: true,
                        borderColor: "rgb(255, 36, 0, 0.5)", 
                        backgroundColor: "rgba(255, 36, 0, 0.2)" 
                    },
                    {
                        label: "Data",
                        pointRadius: 4,
                        pointBackgroundColor: "rgb(0, 0, 255)",
                        data: mb,
                        showLine: true,
                        borderColor: "rgb(0, 150, 255)", 
                    }
                ]
            },
            options: {
                legend: { display: true },
                scales: {
                    xAxes: [{ ticks: { min: 80, max: 90 } }],
                    yAxes: [{ ticks: { min: 1000, max: 2500 } }],
                }
            }
        });
    });
    </script>
    <script>
           document.getElementById('generatePdfButton').addEventListener('click', async () => {
               try {
                   const response = await fetch('/generate-pdf');
                   const pdfBlob = await response.blob();
                   const url = URL.createObjectURL(pdfBlob);
                   const a = document.createElement('a');
                   a.href = url;
                   a.download = 'downloaded.pdf';
                   document.body.appendChild(a);
                   a.click();
                   document.body.removeChild(a);
                   URL.revokeObjectURL(url);
               } catch (error) {
                   console.error("An error occurred:", error);
               }
           });
    </script>
   
   
   